<div class="container">

<h2 style="text-align: center; font-weight: bold; color: chocolate;">Employee Detail</h2>
<div class="row">
  <div class="col-md-6">
<input type="text" [(ngModel)]="searchText" class="form-control mb-3" placeholder="Search Employees Name, Address , Salary , Gender..." />
</div>
<div class="col-md-6">
<button (click)="removeDuplicateName()" class="btn btn-primary  mb-2" >Remove Duplicate By Name</button>
<button (click)="openRegEmployee()" class="btn btn-primary float-end mb-2" >Add</button>
</div>
</div>

<div style=" overflow-x: auto;">
<table border="1" class="table-grid mt-4"  style="min-width: 600px;">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Salary</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Department</th>
      <th>In Time</th>
      <th>Out Time</th>
      <th>Total Hrs</th>
      <th>Reporting</th>
      <th>Role Type</th>
      <th>Action</th>
      <th>Update In-out Time</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees | employeeSearch:searchText">
      <td>{{ emp.name }}</td>
      <td>{{ emp.address }}</td>
      <td>{{ emp.salary }}</td>
      <td>{{ emp.gender }}</td>
      <td>{{ emp.dob | date:'dd-MM-yyyy' }}</td>
      <td>{{ emp.departmentName}}</td>
      <td>{{ emp.inTime}}</td>
      <td>{{ emp.outTime}}</td>
      <td>{{ emp.totalHrs}}</td>
      <td>{{ emp.reportingName}}</td>
      <td>{{ emp.roleType}}</td>
      <td>
        <button class="btn btn-primary" (click)="Edit(emp,update)">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>&nbsp;
        <button class="btn btn-danger" (click)="delete(emp.id)">
            <i class="fa-solid fa-trash"></i>
        </button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="onUpdateClick(emp)">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      </td>
    </tr>
  </tbody>

</table>
  </div>

</div>


<ng-template #update let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Employee Update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <i class="fa fa-x-circle text-primary"></i>
      </button>
  </div>

  <div class="modal-body ">
    <app-reg-employee [data]="this.employeedata" />
  </div>
</ng-template>


<app-update-inout-time ></app-update-inout-time>