.float-end {
  float: right;
}

.table-grid {
  width: 100%;
  border-collapse: collapse;
}

.table-grid th,
.table-grid td {
  border: 1px solid #dddddd;
  padding: 12px;
}

.table-grid tbody tr:hover {
  background-color: #f5f5f5;
}

.table-grid th {
  background-color: #e0e0e0;
}
